.vstack {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--gap, var(--spacing-2));
}

.hstack {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: var(--gap, var(--spacing-2));
}

.spacer {
    flex: 1;
}

.hstack:has(> .spacer) {
    justify-content: space-between;
}

.vstack:has(> .spacer) {
    justify-content: space-between;
}

.vstack[data-alignment="leading"],
.hstack[data-alignment="top"] {
    align-items: start;
}

.vstack[data-alignment="center"],
.hstack[data-alignment="center"] {
    align-items: center;
}

.vstack[data-alignment="trailing"],
.hstack[data-alignment="bottom"] {
    align-items: end;
}

.comment-container {
    position: relative;
    display: flex;
    column-gap: var(--spacing-4);
}

.comment-line-container {
    position: absolute;
    bottom: -1.5rem;
    left: var(--spacing-0);
    top: var(--spacing-0);
    margin-top: var(--spacing-3);
    display: flex;
    width: var(--spacing-6);
    justify-content: center;
}

.comment-line {
    width: var(--spacing-px);
    background-color: var(--color-gray-200);
}

img.comment-user-image {
    position: relative;
    margin-top: var(--spacing-3);
    height: var(--spacing-6);
    width: var(--spacing-6);
    flex: none;
    border-radius: var(--radius-full);
    background-color: var(--color-gray-50);
}

.comment-body {
    flex: 1 1 auto;
    border-radius: var(--radius-md);
    padding: var(--spacing-3);
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--shadow-sm);
}

.comment-body > div {
    display: flex;
    justify-content: space-between;
    column-gap: var(--spacing-4);
}

.comment-user-name {
    padding-top: var(--spacing-0_5);
    padding-bottom: var(--spacing-0_5);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-5);
}

.comment-user-name > span {
    font-weight: 500;
    color: var(--color-gray-900);
}

.comment-body time {
    flex: none;
    padding-top: var(--spacing-0_5);
    padding-bottom: var(--spacing-0_5);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-5);
    color: var(--color-gray-500);
}

.comment-body p {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-6);
    color: var(--color-gray-500);
}

ul.comments {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-6);
}

ul.comments > * + * {
    margin-top: var(--spacing-6);
}

ul.comments > astro-slot > * + * {
    margin-top: var(--spacing-6);
}

.comment-form-container {
    margin-bottom: var(--spacing-3);
    margin-top: var(--spacing-6);
    display: flex;
    column-gap: var(--spacing-3);
}

.comment-form-container > img {
    height: var(--spacing-6);
    width: var(--spacing-6);
    flex: none;
    border-radius: var(--radius-full);
    background-color: var(--color-gray-50);
}

.comment-form-container > form {
    position: relative;
    flex: 1 1 auto;
}

.comment-form-container .text-area-container {
    overflow: hidden;
    border-radius: var(--radius-lg);
    padding-bottom: var(--spacing-12);

    box-shadow:
        var(--ring-offset-shadow),
        inset 0 0 0 1px var(--color-gray-300),
        var(--shadow-sm);
}

.comment-form-container .text-area-container textarea {
    /* focus:ring-0 */
    display: block;
    width: 100%;
    resize: none;
    border-width: var(--spacing-0);
    background-color: transparent;
    padding-top: var(--spacing-1_5);
    padding-bottom: var(--spacing-1_5);
    color: var(--color-gray-900);
}

@media (min-width: 640px) {
    .comment-form-container .text-area-container textarea {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-6);
    }
}

.comment-form-container .text-area-container textarea::placeholder {
    color: var(--color-gray-400);
}

.comment-form-container .button-container {
    position: absolute;

    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    justify-content: end;

    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-2);
}

.comment-form-container .button-container button {
    /* rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold 
            text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 
            disabled:bg-gray-200 disabled:text-gray-600 disabled:shadow-none 
            disabled:hover:bg-gray-200 */

    border-radius: var(--radius-md);
    background-color: var(--spacing-4);
    padding: var(--spacing-1_5) var(--spacing-2_5);
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm--line-height);
    font-weight: 600;
    color: var(--color-gray-900);

    box-shadow:
        var(--ring-offset-shadow),
        inset 0 0 0 1px var(--color-gray-300),
        var(--shadow-sm);
}

.comment-form-container .button-container button:hover {
    background-color: var(--color-gray-50);
}

.comment-form-container .button-container button:disabled {
    background-color: var(--color-gray-200);
    color: var(--color-gray-600);
    box-shadow: 0 0 #0000;
}

.comment-form-container .button-container button:hover:disabled {
    background-color: var(--color-gray-200);
}

.alert {
    margin-left: 2.125rem;
    border-radius: var(--radius-md);
    background-color: var(--color-red-50);
    padding: var(--spacing-4);
    display: flex;
    align-items: center;
}

.alert .icons {
    flex-shrink: 0;
}

.alert .icons svg {
    height: var(--spacing-5);
    width: var(--spacing-5);
    color: var(--color-red-400);
}

.alert h3 {
    margin-left: var(--spacing-3);
    font-size: var(--font-size-xs);
    line-height: var(--font-size-sm--line-height);
    color: var(--color-red-800);
}
