---
import { ViewTransitions } from "astro:transitions";
import { fetchAllPosts } from "~/lib/server/fetch-all-posts";
import PostCard from "~/components/PostCard.astro";
import { fetchCurrentUser } from "~/lib/server/fetch-current-user";

import Alert from "~/components/Alert.astro";
import CommentPreview from "~/components/CommentPreview.astro";

import "~/styles/styles.css";

const currentUser = await fetchCurrentUser(Astro);
const { allPosts, likedPosts } = await fetchAllPosts();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Actions + Signals + Web Components</title>
        <ViewTransitions />
    </head>
    <body>
        <h1>
            Astro Actions <img
                class="logo"
                src="https://astro.build/assets/press/astro-icon-dark.svg"
            /> + Lit
        </h1>
        <ul class="feed">
            {
                allPosts.map(post => (
                    <PostCard
                        post={post}
                        currentUser={currentUser}
                        currentUserHasLikedPost={likedPosts.includes(post.id)}
                    />
                ))
            }
        </ul>

        <template id="error-alert">
            <Alert />
        </template>

        <template id="comment-preview">
            <CommentPreview />
        </template>
    </body>
</html>
